[size=180]Lobby Dev Meeting {{ date }}[/size]

[size=160]Agenda[/size]
[list=1]{% for top in tops %}[*]{{top.top}}{% endfor %}[/list]

[size=160]Attending[/size]
[list]{% for user in attending %}[*]{{user}}{% endfor %}[/list]

[size=160]Log[/size]
{%- for msg in messages %}
	{%- if msg.type == 'message' -%}
		{%- if msg.user in attending %}
			[b][color={{colors[attending.index(msg.user)].hex()}}]{{msg.user}}[/color][/b]: {{msg.msg}}
		{%- else %}
			{{msg.user}}: {{msg.msg}}
		{%- endif %}
	{%- elif msg.type == 'top' %}

		[size=150]Agenda Item {{msg.num}}:{{msg.top}} -------------------------[/size]
	{%- elif msg.type == 'vote' %}
		[size=110]Vote: {{msg.question}}[/size]
		Result {{msg.result()}}
			[list]{% for user,score in msg.votes.iteritems() %}[*]{{user}}: {{score}}{% endfor %}[/list]
	{%- endif -%}
{% endfor %}
