<html>
<head>
	<style type="text/css">
	{% for color in colors %}
		.user{{loop.index}} { color: rgb{{color}}; }
	{% endfor %}
	</style>
</head>
<body>
<h1>Lobby Dev Meeting {{ date }}</h1>
<h2>Agenda</h2>
<ol class="tops">
	{% for top in tops %}
	<li>
		<a href="#top_{{loop.index}}">{{top.top}}</a>
	</li>
	{% endfor %}
</ol>
<h2>Attending</h2>
<ul>
	{% for user in attending %}
		<li>{{user}}</li>
	{% endfor %}
</ul>
			{% for msg in messages%}
				{% if msg.type == 'message' %}
					<span class="msg"><span class="user{{msg.i}}">{{msg.user}}</span>: {{msg.msg}}</span> <br/>
				{% elif msg.type == 'top' %}
					<a name="top_{{msg.num}}"><h2>{{msg.top}}</h2></a>
				{% elif msg.type == 'vote' %}
					<p class="vote">{{msg.question}}: Result <span class="result">{{msg.result()}}</span><br/>
						<ul>
						{% for user,score in msg.votes.iteritems() %}
						<li>{{user}}: {{score}}</li>
						{% endfor %}
						</ul>
					</p>
				{% endif %}
			{% endfor %}
</body>
</html>